body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  margin: 0;
}

.primContainer {
  padding: 21px;
}

.clasele {
  display: flex;
  justify-content: space-between;
}

.clasa1 {
  display: flex;
  align-items: center;
}

.clasa2 {
  display: flex;
  align-items: center;
}
.sageataBlack {
  margin-right: 20px;
}
.coperta {
  width: 20px;
  margin-right: 20px;
  margin-left: 10px;
}
.creion {
  width: 20px;
}
.secondContainer {
  display: flex;
}
.first {
  display: flex;
  align-items: center;
}
.seccond {
  display: flex;
  align-items: center;
}
.ceas {
  width: 20px;
}
.mytext {
  margin: 0 18px 0 7px;
}
.turn {
  width: 20px;
  margin-right: 7px;
}
.myseccondtext {
  color: #5e1fe5;
}
.blocMov {
  width: 100%;
  background-image: url("/tourDetailList/media/pozaMaps.png");
}

.item-wrapper {
  padding: 32px 16px;
  display: flex;
  background: linear-gradient(
    91.95deg,
    rgba(81, 1, 255, 0.29) 22.38%,
    rgba(111, 0, 255, 0.29)
  );
}

.item1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item1::before {
  content: "";
  height: 140%;
  width: 2px;
  background-color: white;
  position: absolute;
  z-index: 0;
}

.palarie {
  height: 32px;
  width: 32px;
  margin-bottom: 23px;
  z-index: 1;
}
.palat {
  height: 64px;
  width: 64px;
  z-index: 1;
}

.item2 {
  width: 100%;
  margin-left: 15px;
}

.title-container {
  height: 32px;
  display: flex;
  align-items: center;
  color: white;
}
.arrow-first {
  margin-right: 10px;
}

.bubble-container {
  margin-top: 23px;
  background: #ffffff;
  box-shadow: 0px 2px 12px #3f0fa6;
  border-radius: 16px;
  padding: 16px;
}
.bubble-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.titlul {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}
.open-now-cont {
  display: flex;
  align-items: center;
  color: #3f0fa6;
}
.distance {
  display: flex;
  margin-bottom: 13px;
}
.distance-label {
  margin-left: 8px;
}

.purple-clock {
  height: 15px;
  margin-right: 8px;
}

.main-text {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.guide {
  display: flex;
}

.guide-label {
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.24px;
  color: #5e1fe5;
}

.bottom-button {
  display: flex;
  align-items: center;
  padding: 11px;
  border: 1px solid #5e1fe6;
  border-radius: 8px;
}

.bottom-bubble-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.go-to-loc {
  margin-left: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: -0.24px;

  color: #5e1fe6;
}
.palarie1 {
  height: 32px;
  width: 32px;
  margin-bottom: 23px;
  z-index: 1;
}
.palarie2 {
  height: 32px;
  width: 32px;
  margin-bottom: 23px;
  z-index: 1;
}
.titlu-container-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
  margin-top: 32px;
  margin-right: 16px;
}

.ultimul-h {
  position: relative;
}
.container-mic {
  display: flex;
  align-items: center;
}

.locMovLast {
  margin-right: 8px;
}

.last-paragraf {
  color: #5e1fe5;
  font-weight: 600;
  size: 14px;
}

.ultimul-container-poze {
  position: relative;
  top: 24px;
  left: 16px;
  display: flex;
  justify-content: space-between;
}

.pozaCopougardens {
  width: 207px;
  height: 207px;
  position: relative;
}

.inimaAl {
  position: relative;
  right: -175px;
  top: -200px;
  width: 25px;
  height: 25px;
  background: rgba(135, 135, 135, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scris-last {
  display: flex;
  align-items: center;
  position: relative;
  top: -75px;
  left: 15px;
}

.mini-text {
  color: white;
  margin-left: 5px;
}

.poza-doi {
  margin-left: 16px;
}

.UnPozaMare {
  width: 207px;
  height: 207px;
}

.scris-last1 {
  display: flex;
  align-items: center;
  position: relative;
  top: -50px;
  left: 15px;
}

.container-texte {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px;
  position: relative;
  top: -20px;
}

.mini-cuvinte {
  display: flex;
  flex-direction: column;
}

.cuvant-iconita {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

h2 {
  margin: 0;
}
p {
  margin: 0;
}

.laFel {
  margin-left: 8px;
}

.liniuta {
  border: 1px solid #e6e6e6;
  margin-top: 20px;
  position: relative;
  top: -21px;
}

.cont-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 0px;
  position: relative;
  top: -20px;
}

.mini-cont1,
.mini-cont2,
.mini-cont3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.micut2 {
  width: 20px;
}
