*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.sec > div{
     
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;


 
}
.container-image{
    padding: 16px;
    background-image:url("/home/media/image\ 1.png");
    z-index: 0;
    border-radius: 10px;

}

.search{
    width: 100%;
    height: 100%;
   z-index: 10px;
}



h3{
color: white;
}
h1{
    color:white;
}

.img{
    display: flex;
     width: 50px;
    height: 50px;
    transform: translateX(320px);

}

h3{
    padding: 5px;
}


.img1{
    display: flex;
    
}
.p1{
    color: white;
}