body {
  background-image: url(/splash/media/Splash-Image\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container-login {
  height: 100%;
  padding: 24px;
}

.Ellipse163 {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 47px;
  top: 40px;
}
.Ellipse156 {
  position: absolute;
  width: 76px;
  height: 76px;
  left: 47px;
  top: 113px;
}
.ellipse-container {
  height: 200px;
}
.Ellipse1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 178px;
  top: 79px;
}

.Ellipse162 {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 293px;
  top: 30px;
}

.Ellipse159 {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 245px;
  top: 153px;
}

.discover {
  font-family: "SF Pro Display";

  font-weight: 500;
  font-size: 13px;
  line-height: 0px;

  letter-spacing: -0.05px;

  color: #ffffff;
  display: flex;
  flex-direction: row;
}
.imaginea1 {
  height: 15px;
  margin-left: 5px;
}
.cod {
  margin-left: 5px;
}
h3 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  /* identical to box height, or 50% */

  letter-spacing: -0.05px;

  color: #ffffff;
}

form {
  width: 100%;
}

input {
  margin-bottom: 16px;
  background-color: transparent;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.8);
  border: solid 1px #ffffff;
  padding: 10px;
}

.forgot-password {
  float: right;
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: -0.05px;

  color: #ffffff;
}

.register {
  position: relative;
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-top: 90px;
  /* identical to box height, or 114% */

  letter-spacing: -0.05px;

  color: #ffffff;
}

button {
  border: none;
  outline: none;
  margin-top: 16px;

  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 50px;
  width: 100%;
  height: 48px;

  background: #ffffff;
  border-radius: 8px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.eroareText {
  color: red;
  position: absolute;
  font-weight: 900;
  letter-spacing: 3px;
  box-shadow: 2px 0px 100px 5px;
  padding: 10px;
  background-color: black;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: -50px;
  transition: all 1s ease-in;
}
