$side-nav-color: #202225;

.side-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
  padding: 8px;
  background-color: $side-nav-color;
  gap: 5px;

  img {
    width: 30px;
    height: 30px;
  }

  &--first-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 52%);
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 50%;
    .purple-color {
      background-color: palevioletred;
    }

    &:hover {
      cursor: pointer;
      background-color: green;
      color: white;
      border-radius: 10px;
      fill: white;
    }
  }
}
.friends-page {
  background-color: gray;
  width: 100vw;
}
