body {
  margin: 0;
  padding: o;
}
main {
  background-image: url("/UserSettings/media/poza.jpg");
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.contul1 {
  height: 140px;
  display: flex;
  flex-direction: row;
}
.sageata {
  width: 15px;
  margin-left: 20px;
  margin-top: 45px;
}
.us {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 80px;
  color: white;
}
.icoana {
  margin-top: -25px;
  margin-left: 150px;
  height: 50px;
}
.grupa1 {
  display: flex;
  flex-direction: row;
}
.albert {
  margin-left: 115px;
  margin-top: 16px;
}
.creion {
  margin-left: 10px;
  height: 10px;
  margin-top: 20px;
}
.scris {
  margin-left: 125px;
  margin-top: -20px;
  font-size: 13px;
}
.acc {
  margin-left: 16px;
  margin-top: 25px;
  font-family: fantasy;
}
.mi {
  display: flex;
  flex-direction: column;
}
.c1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.g1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cr {
  margin-left: 17px;
}
.cr1 {
  margin-left: -100px;
}
.gb {
  margin-left: 17px;
}
.gb1 {
  margin-left: -100px;
}
.ban {
  font-size: 15px;
  margin-right: -110px;

  color: gray;
}
.en {
  margin-right: -110px;
  font-size: 15px;
  color: gray;
}
.sg1 {
  margin-left: 46px;
  margin-right: 20px;
}
.sg2 {
  margin-left: 20px;
  margin-right: 20px;
}
.linie {
  border: 1px solid;
  color: bisque;
  margin-top: 10px;
}
.bx1 {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}
.cam1 {
  display: flex;
  flex-direction: row;
}
.cam2 {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}
.s {
  margin-left: 18px;
}
.z {
  margin-left: 10px;
  font-size: 15px;
}
.s1 {
  margin-left: 18px;
}
.z1 {
  margin-left: 10px;
  font-size: 15px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch {
  float: right;
  margin-top: -80px;
  margin-right: 20px;
}

.switch1 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch1 {
  float: right;
  margin-right: 20px;
  margin-top: -40px;
}
.lastC {
  display: flex;
  flex-direction: column;
}
.lc1 {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}
.lc2 {
  display: flex;
  flex-direction: row;
  margin-top: -15px;
}
.lc3 {
  display: flex;
  flex-direction: row;
  margin-top: -15px;
}
.sf {
  margin-left: 18px;
}
.sf1 {
  margin-left: 10px;
}
.sf2 {
  margin-left: 160px;
}
.sf3 {
  margin-left: 198px;
}
.sf4 {
  margin-left: 226px;
}
.lastp {
  margin-left: 150px;
  color: purple;
}
.limba {
  position: fixed;
  bottom: 0;
  height: 50vh;
  background-color:white;
  width: 100vw;
  opacity: 0;
  z-index: -1;
  border:solid 1px black;
}
.limba-visible {
  opacity: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.marime-icon {
  width: 15px;
  height: 15px;
  margin-top: 22px;
}
.limba1 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.limba2 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.limba3 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.limba4 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.limba5 {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.sel-lng {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
.ml {
  margin-left: 10px;
}
.linie1 {
  border: 1px solid;
  color: bisque;
  margin-top: -5px;
}
