body {
  margin: 0;
  padding: o;
}
.primul {
}
.poza-main {
  display: flex;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.fist-one {
  display: flex;
  margin-left: -30px;
  padding: 40px 50px;
  margin-top: -140px;
}
/* .contul1 {
  height: 140px;
  display: flex;
  flex-direction: row;
  background-image: url("/UserSettings/media/poza.jpg");
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} */
.sageata {
  width: 15px;
  padding: 10px;
}
.us {
  font-size: 20px;
  color: white;
}
.iconita {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icoana {
  margin-top: -20px;
  height: 50px;
}
.grupa1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.albert {
  margin-top: 16px;
}
.creion {
  margin-left: 10px;
  height: 10px;
  margin-top: 30px;
}
.scris {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  font-size: 13px;
}
.acc {
  margin-left: 16px;
  margin-top: 25px;
  font-family: fantasy;
}
.mi {
  display: flex;
  flex-direction: column;
}
.c1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.g1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cr {
  margin-right: 13px;
}

.gb {
  margin-left: 17px;
}

.ban {
  font-size: 15px;

  color: gray;
}
.en {
  font-size: 15px;
  color: gray;
}
.sg {
  height: 10px;
  margin-left: 20px;
}

.linie {
  border: 1px solid;
  color: bisque;
  margin-top: 10px;
}
.bx1 {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}
.cam1 {
  display: flex;
  flex-direction: row;
}
.cam2 {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}
.s {
  margin-left: 18px;
}
.z {
  margin-left: 10px;
  font-size: 15px;
}
.s1 {
  margin-left: 18px;
}
.z1 {
  margin-left: 10px;
  font-size: 15px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch {
  float: right;
  margin-top: -80px;
  margin-right: 20px;
}

.switch1 {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch1 {
  float: right;
  margin-right: 20px;
  margin-top: -40px;
}
.lastC {
  display: flex;
  flex-direction: column;
  padding: 17px 22px 14px 17px;
}
.lc1 {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  justify-content: space-between;
}
.lc2 {
  display: flex;
  flex-direction: row;
  margin-top: -15px;
  justify-content: space-between;
}
.lc3 {
  display: flex;
  flex-direction: row;
  margin-top: -15px;
  justify-content: space-between;
}

.casuta1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.casuta2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastp {
  margin-left: 150px;
  color: purple;
}
.limba {
  position: fixed;
  bottom: 0;
  height: 50vh;
  background-color: white;
  width: 100%;
  opacity: 0;
  z-index: -1;
  border: solid 1px rgba(128, 128, 128, 0.44);
}
.limba-visible {
  opacity: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.marime-icon {
  width: 15px;
  height: 15px;
  margin-top: 22px;
}
.limba1 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between;
}
.limba2 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between;
}
.limba3 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between;
}
.limba4 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between;
}
.limba5 {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  justify-content: space-between;
}
.sel-lng {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
.ml {
  margin-left: 10px;
}
.linie1 {
  border: 1px solid;
  color: bisque;
  margin-top: -5px;
}
.mi1 {
  display: flex;
  flex-direction: column;
  padding: 17px 22px 14px 17px;
}
.boxul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sf {
  margin-right: 13px;
}
.check,
.check1,
.check2,
.check3,
.check4 {
  opacity: 0;
  z-index: 5;
  border: none;
  background-color: white;
  color: purple;
  font-weight: 600;
  transition: opacity 0.8s ease-in;
}
.check-visible {
  opacity: 1;
}
.titleFlex {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.X {
  border-radius: 50%;
  background-color: white;
  color: red;
  font-weight: 600;
  transition: opaciti 0.5s ease-in;
}
